* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    background-color: #121212;
}

/* global style */

img {
    z-index: -1;
    object-fit: cover;
    width: 100%;
    position: absolute;
    height: 100vh;
    opacity: .5;
}

.heading_container {
    padding: 10px;
}

.title {
    text-align: center;
    font-size: 140px;
    color: #dcdde1;
    text-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.timezone_cities {
    display: inline-block;
    text-decoration: underline;
    color: #dcdde1;
    margin: 0 50px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}


/* NEW YORK TIME */

.new-york {
    display: block;
}

.newyork_clock-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

.newyork_clock {
    font-size: 350px;
    color: #dcdde1;
    text-shadow: 0 2px 8px rgba(0,0,0,0.2);
}


/* LONDON CLOCK */

.london {
    display: none;
}

.london_clock-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

.london_clock {
    font-size: 350px;
    color: #dcdde1;
    text-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

/* SAO PAULO CLOCK */

.sao-paulo {
    display: none;
}

.saopaulo_clock-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

.saopaulo_clock {
    font-size: 350px;
    color: #dcdde1;
    text-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

/* TOKYO CLOCK */

.tokyo {
    display: none;
}

.tokyo_clock-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

.tokyo_clock {
    font-size: 350px;
    color: #dcdde1;
    text-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.active {
    display: block;
}