body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    font-size: 100px;
    font-weight: bold;
    color: #aaa;
}